servers/CulonesRPG-26.1.2/fabricmods/required/watermedia_binaries-3.0.0-rc.4.jar
servers/PanolisSMP-1.21.11/fabricmods/required/watermedia_binaries-3.0.0-rc.4.jar
servers/PanolisSMP-1.21.11/files/background.webp
servers/PanolisSMP-1.21.11/files/config/fancymenu/assets/background.gif